@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Outfit:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

*, *::before, *::after {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
    }
    html{
    font-family: 'Nunito', sans-serif;
    box-sizing: border-box;
    overflow-x: hidden;
    scroll-behavior: smooth;
    }
    body {
      line-height: 1.6;
      color: white;
      background-color: #1c1c1c;
    }
    section {
      padding: 60px 0;
    }
    h1,h2,h3{
        font-family: 'Playfair Display', serif;
    }
    button:hover{
        cursor: pointer;
    }
    nav{
        color: white;
        background-color: #1c1c1c;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        border-bottom: 3px solid rgba(139, 139, 139, 0.096);
    }
    .home-contact {
        display: none;
    }
    .home-contact.active {
        display: block;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: #1c1c1c;
        padding: 20px;
        border-bottom: 1px solid rgba(139, 139, 139, 0.096);
    }
    .home-contact.active ul {
    flex-direction: column;
    gap: 15px;
    }
    .nav-right{
        font-size: 30px;
    }
    nav a{
    color: white;
}
nav a:link{
    text-decoration: none;
}
nav a:hover {
    color: red;
}
    ul{  
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 25px;
    }
    .logo{
        font-size: 28px;
        font-weight: 700;
    }
    .hero_section{
        font-family: 'Playfair Display', serif;
        min-height: 70dvh;
        display: flex;
        text-align: center;
        justify-content: center;
        padding-top: 180px;
    }
    .hero_section h1{
        font-size: 35px;
        font-weight: 900;
        padding-bottom: 50px;
    }
    .hero_section p{
        font-size: 18px;
        padding-bottom: 50px;
    }
    .hero_section button{
        font-size: 16px;
        padding: 15px;
        border:none;
        border-radius: 7px;
        background-color: red;
        color: white;    
    }
    .features{
        display: flex;
        text-align: center;
        justify-content: center;
    }
    .ourFeatures{
        display: flex;
        flex-direction: column;
    }
    .ourFeatures h2{
        font-size: 30px;
        padding: 20px;
    }
    .all_feats{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .feats{
        border: 1px solid white;
        border-radius: 8px;
        padding: 20px 120px;
    }
    .rooms{
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        padding: 20px;
        gap: 30px;
    }
    .rooms h3{
        font-size: 24px;
        padding-bottom: 10px;
    }
    .rooms p{
        font-size: 18px;
        padding-bottom: 15px;
    }
    .rooms .price{
        font-size: 20px;
        font-weight: 600;
        color: red;
        padding-bottom: 10px;
    }
    .diff_rooms{
        display: flex;
        flex-direction: column;
        border: 1px solid white;
        background-color: black;
        border-radius: 10px;
        padding: 50px 50px;
    }
    .rooms button{
        font-size: 16px;
        padding: 15px;
        border:none;
        border-radius: 7px;
        background-color: red;
        color: white;
    }
    .booking{
        display: flex;
        flex-direction: column;
        padding: 10px 15px;
        margin-bottom: 50px;
    }
    .booking h2{
        text-align: center;
        padding-bottom: 20px;
    }
    form{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    input[type="text"], input[type="email"], input[type="date"]{
        width: 100%;
        height: 30px;
        font-size: 14px;
        padding: 30px 10px;
        background-color: none;
        border: none;
        border-radius: 10px;
        color: white;
        font-family: inherit;
        color-scheme: dark;
    }
    input[type="email"]::placeholder, input[type="text"]::placeholder{
        font-size: 14px;
    }
    label{
        font-size: 14px;
    }
    .booking button{
        font-size: 16px;
        padding: 18px 160px;
        border:none;
        border-radius: 7px;
        background-color: red;
        color: white;
    }
    .contact h2{
        padding-top: 50px;
        font-size: 30px;
    }
    .my_contact_details{
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 10px 70px;
    }
    .contact_details{
        align-items: center;
        display: flex;
        gap: 15px;
    }
    .contact_details i{
        font-size: 26px;
    }
    .contact_details a{
        color: white;
    }
    .contact_details a:link{
        text-decoration: none;
    }
    footer{
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        font-size: 12px;
    }
    @media (min-width: 768px){
        .nav-right{
            display: none;
        }
        .home-contact{
            display: flex;
        }
        .all_feats{
            flex-direction: row;
            padding: 0 30px;
        }
        .feats{
            padding: 20px 80px;
        }
        .rooms{
            padding: 20px 200px;
        }
        .booking .request_booking{
            padding: 20px 200px;
        }
        .form_button{
            padding-left: 5px;
        }
        .booking button{
        padding: 18px 350px;
        }
        .my_contact_details{
            flex-direction: row;
            gap: 50px;
            padding-left: 250px;
        }
    }